.logo{
    padding-top: 10px;
    background-color: #575656;
}
.nav-wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.show:hover{
  color: #6BB4FD;
}
.create:hover{
  color: #6BB4FD;
}
.reg:hover{
  color: #6BB4FD;
}

a {
  all: unset;
  cursor: pointer;
}


.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgb(45, 40, 40);
   
}

.button {
    background-color: rgb(100, 100, 100) ; 
    border: none;
    color: var(--logoBlue);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin: 0px 1px 0px 2px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.1));

  
  }
  .button:hover{
    background-color:rgb(100, 100, 100,0.7) 
  }
  
  .nav-btns{
    display: flex;
  }
  .button1{
    font-size: 45px;
    align-items: center;
    background-color: #575656;
    color:  #D3D2D2
   
  }
  .button1:hover{
    background-color: #383836;
    color:#6BB4FD;
  }
  .button2{
    font-size: 55px;
    color: #D3D2D2;
    align-items: center;
  }
  .button2:hover{
    color:#6BB4FD;
    background-color: #383836;
  }
  .searchNav{
    font-size: 75px;
    align-items: center;
    background-color: var(--background);
    color:#a8a5a5
  }
  .button2{
    padding: 0px 5px;
  }